<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object product-main" src="<%= @food.picture_url %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading"><%= @food.name, "/foods/#{food.id}" %></h1>
    <hr>
    <h4>Price: $<%= @food.price %></h4>
    <%= @food.description %>
    <%= link_to 'Edit', "/foods/#{@food.id}/edit", class: 'btn btn-default' %>
  </div>
</div>